@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
a:active{
    animation: 2s hoverBox linear infinite;
}
a{
     text-decoration: none ;
   color: black; 
  background-color: #FF0000;
  padding: 10px;
}
a{
    font-family:"Caveat" ;
font-size: 30px;
box-shadow: white 10px 5px 2px;
  
}
div{
    display: flex;
    justify-content:space-around;
}
.img{
    width: 200px;
    padding: 40px;
}


.text{
    display: flex;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 130px;
    height: 20px;
    position: relative;
  background-color:  #FF8369;
  height: 180px;
  width: 100px;
   
}
.grib{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
body{
   background: linear-gradient(181deg,rgba(91, 80, 107, 1) 0%, rgba(235, 16, 16, 1) 0%, rgba(255, 64, 0, 1) 32%, rgba(237, 221, 83, 1) 100%);
}

.fas{
   padding: 10px;
   background-color: #FF0000;
   box-shadow: white 10px 5px 2px;
    
}
.flower-loader {
   margin: 65px;
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #e96;
  border-radius: 100%;
  -moz-box-shadow: white 0 0 15px 0, #485 -12px -12px 0 4px,
    #485 12px -12px 0 4px, #485 12px 12px 0 4px, #485 -12px 12px 0 4px;
  -webkit-box-shadow: white 0 0 15px 0, #485 -12px -12px 0 4px,
    #485 12px -12px 0 4px, #485 12px 12px 0 4px, #485 -12px 12px 0 4px;
  box-shadow: white 0 0 15px 0, #485 -12px -12px 0 4px, #485 12px -12px 0 4px,
    #485 12px 12px 0 4px, #485 -12px 12px 0 4px;
  -moz-animation: flower-loader 5s infinite ease-in-out;
  -webkit-animation: flower-loader 5s infinite ease-in-out;
  animation: flower-loader 5s infinite ease-in-out;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

@-moz-keyframes flower-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-box-shadow: white 0 0 15px 0, #485 -12px -12px 0 4px,
      #485 12px -12px 0 4px, #485 12px 12px 0 4px, #485 -12px 12px 0 4px;
    box-shadow: white 0 0 15px 0, #485 -12px -12px 0 4px, #485 12px -12px 0 4px,
      #485 12px 12px 0 4px, #485 -12px 12px 0 4px;
  }
  50% {
    -moz-transform: rotate(1080deg);
    transform: rotate(1080deg);
    -moz-box-shadow: white 0 0 15px 0, #485 12px 12px 0 4px,
      #485 -12px 12px 0 4px, #485 -12px -12px 0 4px, #485 12px -12px 0 4px;
    box-shadow: white 0 0 15px 0, #485 12px 12px 0 4px, #485 -12px 12px 0 4px,
      #485 -12px -12px 0 4px, #485 12px -12px 0 4px;
  }
}
@-webkit-keyframes flower-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-box-shadow: white 0 0 15px 0, #485 -12px -12px 0 4px,
      #485 12px -12px 0 4px, #485 12px 12px 0 4px, #485 -12px 12px 0 4px;
    box-shadow: white 0 0 15px 0, #485 -12px -12px 0 4px, #485 12px -12px 0 4px,
      #485 12px 12px 0 4px, #485 -12px 12px 0 4px;
  }
  50% {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
    -webkit-box-shadow: white 0 0 15px 0, #485 12px 12px 0 4px,
      #485 -12px 12px 0 4px, #485 -12px -12px 0 4px, #485 12px -12px 0 4px;
    box-shadow: white 0 0 15px 0, #485 12px 12px 0 4px, #485 -12px 12px 0 4px,
      #485 -12px -12px 0 4px, #485 12px -12px 0 4px;
  }
}
@keyframes flower-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-box-shadow: white 0 0 15px 0, #485 -12px -12px 0 4px,
      #485 12px -12px 0 4px, #485 12px 12px 0 4px, #485 -12px 12px 0 4px;
    -webkit-box-shadow: white 0 0 15px 0, #485 -12px -12px 0 4px,
      #485 12px -12px 0 4px, #485 12px 12px 0 4px, #485 -12px 12px 0 4px;
    box-shadow: white 0 0 15px 0, #485 -12px -12px 0 4px, #485 12px -12px 0 4px,
      #485 12px 12px 0 4px, #485 -12px 12px 0 4px;
  }
  50% {
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
    -moz-box-shadow: white 0 0 15px 0, #485 12px 12px 0 4px,
      #485 -12px 12px 0 4px, #485 -12px -12px 0 4px, #485 12px -12px 0 4px;
    -webkit-box-shadow: white 0 0 15px 0, #485 12px 12px 0 4px,
      #485 -12px 12px 0 4px, #485 -12px -12px 0 4px, #485 12px -12px 0 4px;
    box-shadow: white 0 0 15px 0, #485 12px 12px 0 4px, #485 -12px 12px 0 4px,
      #485 -12px -12px 0 4px, #485 12px -12px 0 4px;
  }
}


.typewriter {
    width:0px;
overflow: hidden;
white-space: nowrap;
border-right: 0px ;
animation: 3s typing steps(17) forwards,
0.5s blink infinite;
 text-shadow: 10px 5px 5px red;
}


@keyframes typing {
    from { width:0; }
    to { width:14ch;} 
}
@keyframes blink {
    50% {border-color: transparent;}
    
}




.tyh:hover {
  background: white;
  box-shadow: 10px 10px white ;
transition: all 0.3s ease-in-out;
}

.tyh{
    display: block;
  margin: auto;
  width: 50%;
}
h2{
    font-family:"Caveat" ;
    padding-left:190px;
     text-shadow: 10px 5px 5px red;
}
h2:hover{
    transform: scale(1.3);
    transition: all 0.2s ease-in-out;
}

h3{
    font-family:"Caveat" ;
    text-shadow: 10px 5px 5px red;
    font-size: 22px;
}
h1{
    font-family:"Caveat" ;
    
}
.fas:active{
    animation: 2s hoverBox linear infinite;
}
@keyframes hoverBox{
    0%{transform: scale(1.2);}
    100%{transform: scale(1);}
}
